.game-page {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
  }

  &__start {
    position: absolute;
    z-index: 120;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  &__counter {
    animation: blink-animation 0.8s steps(5, start) infinite;
  }

  &__record {
    color: #ffdc52;
  }

  &__score {
    position: absolute;
    top: 25px;
    z-index: 40;
    font-size: 18px;
  }
}

@keyframes blink-animation {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
