@import url(https://db.onlinewebfonts.com/c/e844e1db9d25590da3283ed203b03f86?family=F8BIT+WONDER%28RUS+BY+LYAJKA%29);

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: "F8BIT WONDER(RUS BY LYAJKA)";
  background-color: #131313;
  color: #ffffff;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1280px;
  padding: 0 13px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
